* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body,
html,
#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Dancing Script", cursive;
}
form {
  position: relative;
}
::selection {
  background-color: black;
  color: white;
}
input {
  padding-inline-start: 0.5rem;
  font-family: "Dancing Script", cursive;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid white;
  width: 20vw;
  min-width: 150px;
  color: aliceblue;
  font-weight: 300;
  font-size: clamp(15px, 3vw, 30px);
}
button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 10px 5px 10px black;
  color: white;
  transition: all 0.1s;
}
button:active{
    transform: scale(0.9);
}
.formRow {
  color: aliceblue;
  font-weight: 800;
  font-size: clamp(20px, 2vw, 50px);
}
.bgVid {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(232, 166, 166, 0.1);
  border-radius: 30px;
  padding: 4rem 1rem;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 5px 40px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: left;
}
form .formRow {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
